.home {
  padding: 75px 0 120px;
  @include sp {
    padding: 40px 0 60px;
  }
  &_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -50px;
    @include sp {
      display: block;
      margin-bottom: -40px;
    }
    &:after {
      content: '';
      display: block;
      width: calc(33.333% - 15px);
      height: 0;
      @include sp {
        display: none;
      }
    }
  }
  &_item {
    width: calc(33.333% - 15px);
    margin-bottom: 50px;
    @include sp {
      width: 100%;
      margin-bottom: 40px;
    }
    &0 {
      width: calc(66.666% - 15px);
      @include sp {
        width: 100%;
      }
    }
    &6 {
      width: calc(66.666% - 15px);
      @include sp {
        width: 100%;
      }
    }
  }
  &_thumbnail {
    padding-top: 56.6666%;
  }
  &_link {
    color: #000;
    display: block;
  }
  &_headding {
    font-size: 24px;
    line-height: 1.4;
    @include sp {
      font-size: 20px;
      line-height: 1.3;
    }
  }
  &_category {
    font-size: 14px;
    margin: 19px 0 10px;
    line-height: 1.2;
    color: #000;
    font-weight: bold;
  }
}